{% extends 'base.html' %}


{% block content %}
<h1>Add Information</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">

            {{ form.firstname.label }}
            {{ form.firstname(class='form-control', placeholder='Firstname') }}

            {{ form.lastname.label }}
            {{ form.lastname(class='form-control', placeholder='Lastname') }}

            {{ form.phonenumber.label }}
            {{ form.phonenumber(class='form-control', placeholder='Phonenumber') }}

            {{ form.address.label }}
            {{ form.address(class='form-control', placeholder='Address') }}

            {{ form.submit(class='btn btn-primary w-100') }}
        </div>
    </form>
{% endblock content %}  